.v-main
  background: #212121
  color: #fff
.v-table
    color:#fff
    background: #424242
    border-radius: 10px
.v-container
  max-width: 90%
  // height: 100vh
  #home
    height: 100%
    .v-btn
      color: #212121