.v-main
  background-image: url('./assets/tomato-rg-little.png')
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  background-attachment: fixed
  .v-table
    border-radius: 10px
.v-container
  max-width: 90%
  overflow: auto
  .text-left img
    width: 80%
    margin: 90px 0 10px
  .text-right .v-btn
      margin: 0 0 15px 5px
  #current .v-btn
      margin: 1rem
  #home .v-col,#settings th,#all th ,#items td,#items th,#done th,#done td
    text-align: center
@media (min-width: 992px)
  .v-main
    background-image: url('./assets/tomato-rg.png')
    background-position: 56%
    background-size: 80% 100%
    .v-container .text-left img
      width: 40%
      margin: 15px 0 15px 40%
